.containerColor {
    background-color: #A79C93;
}

.formColor{
    background-color: #C1403D;
}

.btnColor{
    background-color: #0294A5;
}

.sidebar {
    background-color: #04060F;
}

.asideHeaderColor {
    color: #A79C93;
}